<h3 style="text-align: center; margin-bottom: -0.8%;">ข้อมูลประเทศ : สิงคโปร์</h3>
<div class="card-row">
    <div style="position: absolute; width: 40%;">
        <h5 style="text-align: center;">ราคาน้ำมัน</h5>
        <canvas id="myChart" width="100" height="40"></canvas>
    </div>
    <div style="position: absolute; width: 40%;margin-left: 45%;">
        <h5 style="text-align: center;">ปริมาณยางพารา</h5>
        <canvas id="myChart2" width="100" height="40"></canvas>
    </div>
    <div style="position: absolute; width: 40%; margin-top:22.5%;">
            <h5 style="text-align: center;">อัตราการแลกเปลี่ยน</h5>
            <canvas id="myChart3" width="100" height="40"></canvas>
    </div>
    <div style="position: absolute; width: 40%;;margin-left: 45%; margin-top:22.5%;">
            <h5 style="text-align: center;">อัตราการแลกเปลี่ยน</h5>
            <canvas id="myChart4" width="100" height="40"></canvas>
    </div>
</div>