// :host {
//     display: block;
//     // max-height: 25rem;
//     max-height: auto;
//     overflow-x: hidden;
//     overflow-y: auto;
//   }
  
  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .card-col {
    flex: 1 0 calc(20% - 1rem);
    margin: 0 0.5rem;
  }

// .setCard{
//     text-align: end;
//     padding: 20%;
//     font-size:2vw;
// }

:host {
  display: grid;
  grid-row-gap: 50px;
  max-height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

nb-card {
  width: 40%;
  margin: 0 2.5%;

  text-align: center;

  &.own-scroll {
    height: 30rem;
  }
}

ืิ.bodyCard {
  display: grid;
  grid-row-gap: 50px;
}

.test{
  color: rgba(255, 99, 132, 0.2);
  color: rgba(0, 214, 143, 0.2);
}

