
<h3 style="text-align: center;">กราฟข้อมูล <nb-icon icon="pie-chart"></nb-icon></h3>
<canvas id="myChart" width="" height="70"></canvas>
<!-- <div style="display: block;">
    <canvas baseChart
      [datasets]="bubbleChartData"
      [options]="bubbleChartOptions"
      [colors]="bubbleChartColors"
      [legend]="bubbleChartLegend"
      [chartType]="bubbleChartType"
      width=""
      height="70">
    </canvas>
</div> -->


<div class="card-row">
<nb-card>
<nb-card-header style="text-align: left;">ข้อมูลที่ใช้วิเคราะห์</nb-card-header>
    <nb-card-body >
        <label for="oilprice" style="margin-right: 30px;">ราคาน้ำมันดิบ</label>
        <input type="number" nbInput placeholder="ตัวเลข" id="oilpice" [(ngModel)]="oilpice" name="oilpice" >
        <br>
        <br>
        <label for="rubber" style="margin-right: 15px;">ปริมาณยางพารา</label>
        <input type="number" nbInput placeholder="ตัวเลข" [(ngModel)]="rubber" name="rubber">
        <br>
        <br>
        <label for="amount" style="margin-right: 50px;">จำนวนเงิน</label>
        <input type="number" nbInput placeholder="ตัวเลข" [(ngModel)]="amount" name="amount">
        <br>
        <br>
        <label for="rate" style="margin-right: 15px;">อัตราแลกเปลี่ยน</label>
        <nb-select style="margin-right: 45px;" placeholder="เลือกประเทศ" [(selected)]="selectedItem">
                <nb-option value="0">จีน</nb-option>
                <nb-option value="1">อเมริกา</nb-option>
                <nb-option value="2">ญี่ปุ่น</nb-option>
                <nb-option value="3">มาเลเซีย</nb-option>
                <nb-option value="4">สิงคโปร์</nb-option>
        </nb-select>
        <br>
        <br>
        <button nbButton status="success" style="margin: 2.5%;" (click)="btn_input()">ยืนยัน</button>
<!-- 
        <h5>oilpice : {{ oilpice }}</h5>
        <h5>rubber: {{ rubber }}</h5>
        <h5>amount: {{ amount }}</h5> -->

    </nb-card-body>
  </nb-card>
  
  <nb-card style="width: 15%;">
        <nb-card-header style="text-align: left;">ผลลัพธ์การวิเคราะห์ : {{ option }}</nb-card-header>
        <nb-card-body >
            <nb-radio-group style="position: absolute; left:20%;" [(value)]="option" status="success">
                <nb-radio value="1">จีน</nb-radio>
                <nb-radio value="2">อเมริกา</nb-radio>
                <nb-radio value="3">ญี่ปุ่น</nb-radio>
                <nb-radio value="4">มาเลเซีย</nb-radio>
                <nb-radio value="5">สิงคโปร์</nb-radio>
            </nb-radio-group>
        </nb-card-body>
      </nb-card>



</div>



