<nb-card size="large" style="background-color: aliceblue;">
        <nb-card-body>
                <div class="card-row">
                        <!-- <div style="position: absolute; width: 45%;margin-top: -1.5%;margin-left: 1%;"> -->
                            <h5 style="text-align: center; color: black;">เปอร์เซ็นการส่งออกยางพาราไปต่างประเทศ ปี {{ year_v }}</h5>
                            <canvas id="myChart" width="100" height="20"></canvas>
                        <!-- </div> -->

                    </div>
        </nb-card-body>
</nb-card>

<nb-card size="large" style="background-color: aliceblue;">
        <nb-card-body>
                <div class="card-row">
                        <h5 style="text-align: center; color: black;">กราฟเปรียบเทียบการส่งออกยางพารา 4 ประเทศ</h5>
                        <canvas id="myChart2" width="100" height="20"></canvas>
                </div>
        </nb-card-body>
 </nb-card>

 <nb-card size="tiny" style="text-align: left; width: 15%; position: absolute;top: 12%; left: 82%;">
                <nb-card-header>เปอร์เซ็นของปี</nb-card-header>
                <nb-card-body style="text-align: center;">
                <nb-select  [(selected)]="year_v">
                        <nb-option value="2014">2014</nb-option>
                                <nb-option value="2015">2015</nb-option>
                                <nb-option value="2016">2016</nb-option>
                                <nb-option value="2017">2017</nb-option>
                                <nb-option value="2018">2018</nb-option>
                </nb-select>
                <br>
                <br>
                <button nbButton status="info" (click)="test()" >ยืนยัน</button> 
                <!-- <br>
                <br>
                <p>Year :{{ option }}</p>
                <p>dataPie : {{ dataPie_v }}</p> -->
                          
</nb-card-body>
</nb-card>

