
<div><h3 style="text-align: center; margin-bottom:2%;">ข้อมูลประเทศ : จีน ปี {{ year_v }}</h3></div>

<div class="card-row">
        <div class="card-col">
          <nb-card >
            <nb-card-body class="setbg">
                <h5 class="sethead">ราคาน้ำมัน</h5>
                <canvas id="myChart" width="100" height="40"></canvas>
            </nb-card-body>
          </nb-card>
          <nb-card >
                <nb-card-body class="setbg">
                    <h5 class="sethead">อัตราการแลกเปลี่ยน</h5>
                    <canvas id="myChart3" width="100" height="40"></canvas>
                </nb-card-body>
              </nb-card>
        </div>
        <div class="card-col">

          <nb-card >
                <nb-card-body class="setbg">
                    <h5 class="sethead">ปริมาณยางพาราในไทย</h5>
                    <canvas id="myChart2" width="100" height="40"></canvas>
                </nb-card-body>
              </nb-card>
            <nb-card >
                <nb-card-body class="setbg">
                    <h5 class="sethead">ปริมาณการส่งออก</h5>
                    <canvas id="myChart4" width="100" height="40"></canvas>
                </nb-card-body>
            </nb-card>       
        </div>
</div>

 
<nb-card size="tiny" style="text-align: left; width: 16%; position: absolute;top: 9%; left: 82%;height: 6.5%;">
    <nb-card-body style="text-align: center;">
    <nb-select  [(selected)]="year_v" style="margin: 1%;">
            <nb-option value="2014">2014</nb-option>
                    <nb-option value="2015">2015</nb-option>
                    <nb-option value="2016">2016</nb-option>
                    <nb-option value="2017">2017</nb-option>
                    <nb-option value="2018">2018</nb-option>
    </nb-select>
    <button nbButton status="info" (click)="testbtn()" >ยืนยัน</button> 
              
</nb-card-body>

