:host {
    display: block;
    max-height: 250rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .card-row {
    display: flex;
    margin: 0 1rem;
  }
  
  .card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }

.setbg{
    background-color: aliceblue;
    padding: 4%;
    border-radius: 10px;
}

.sethead{
    color: black; 
    text-align: center;
    margin-top: 1.5%;
}