<nb-layout>
    <nb-layout-header fixed>
      <button nbButton status="info" size="medium" (click)="toggle()"><nb-icon icon="list-outline"></nb-icon></button>
    </nb-layout-header>

    <nb-sidebar tag="left">
      <nb-menu [items]="items">
      </nb-menu>
    </nb-sidebar>
  
    <nb-layout-column >

        <router-outlet></router-outlet>

    </nb-layout-column>
</nb-layout>
