// .card-row {
//     display: flex;
//     margin: 0 -0.5rem;
//   }
  
//   .card-col {
//     flex: 1 0 calc(20% - 1rem);
//     margin: 0 0.5rem;
//   }

// :host {
//   display: grid;
//   grid-row-gap: 50px;
//   max-height: auto;
//   overflow-x: hidden;
//   overflow-y: auto;
// }

nb-card {
  width: 40%;
  margin: 0 2.5%;

  text-align: center;

  &.own-scroll {
    height: 30rem;
  }
}

.bodyCard {
  display: grid;
  grid-row-gap: 50px;
}


:host {
  // display: block;
  max-height: 250rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}