<div class="card-row">
    <nb-card>
    <nb-card-header style="text-align: left;">ข้อมูลที่ใช้วิเคราะห์</nb-card-header>
        <nb-card-body >
            <label for="oilprice" style="margin-right: 30px;">ราคาน้ำมันดิบ</label>
            <input type="number" nbInput placeholder="ตัวเลข" id="oilpice" [(ngModel)]="oilpice" name="oilpice" >
            <br>
            <br>
            <label for="rubber" style="margin-right: 30px;">ปริมาณการผลิตยางพารา(หมื่นตัน)</label>
            <input style="margin-right: 130px;" type="number" nbInput placeholder="ตัวเลข" [(ngModel)]="rubber" name="rubber">
            <br>
            <br>
            <label for="rate" style="margin-right: 30px;">อัตราแลกเปลี่ยน</label>
            <nb-select style="margin-right: 60px;" placeholder="เลือกประเทศ" [(ngModel)]="selectedRegion" [(selected)]="selectedItem">
                    <nb-option value="china">จีน</nb-option>
                    <nb-option value="usa">อเมริกา</nb-option>
                    <nb-option value="japan">ญี่ปุ่น</nb-option>
                    <nb-option value="malaysia">มาเลเซีย</nb-option>
            </nb-select>
            <br>
            <br>
            <label for="amount" style="margin-right: 30px;">จำนวนเงิน({{unit}}:บาท)</label>
            <input style="margin-right: 80px;" type="number" nbInput placeholder="ตัวเลข" [(ngModel)]="amount" name="amount">
            <br>
            <br>
            <br>
            <br>
            <button nbButton status="success" style="margin: 2.5%;" (click)="getDataform()">ยืนยัน</button>

        </nb-card-body>
      </nb-card>


    <nb-card>
            <nb-card-header style="text-align: left;">ผลลัพธ์</nb-card-header>
            <nb-card-body style="position: relative; top: 20%;">
                <nb-icon style="font-size: 600%;" icon="search-outline"></nb-icon>
                <p style="font-size: 200%;">ปริมาณการส่งที่คาดการณ์ไว้คือ {{predicted_value}} กิโลกรัม</p>
            </nb-card-body>
          </nb-card>

</div>
